body {
  color: black;
  background: azure;
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
  top: -16px;
  background-color: royalblue;
  color: white;
  padding: 0;
  margin: 0;
  height: 50px;
}

nav li {
  height: 30px;
  position: relative;
  top: 6px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

nav li:hover {
  background-color: navy;
}

#banner {
  position: relative;
  top: -70px;
  right: -220px;
  background-color: deepskyblue;
  height: 400px;
  width: 899px;
  padding-top: 200px;
  font-size: 80px;
  color: blue;
  background-image: url(/Users/willgrossman/Documents/Website/fullbaseballJPG.JPG);
  text-align: center;
  display: inline-block;
  position: relative;
}

#banner img {
  width: 899px;
  height: 600px;
}

h2 {
  color: black;
  font-size: 34px;
  text-align: center;
}

p {
  color: black;
  font-size: 24px;
  padding: 20px;
}

#about {
  width: 500px;
  position: inline-block;
  text-align: left;
  color: black;
  position: relative;
  left: 20px;
  height: 258;
}

#about h2 {
  right: -20px;
}

.text {
  border-style: solid;
  border-width: 2px;
  border-color: aqua;
  border-radius: 10px;
}

#classics {
  padding-bottom: 40px;
}

#classics p {
  width: 500px;
  position: inline-block;
  text-align: left;
  color: black;
  position: relative;
  right: 20px;
  top: -80px;
  float: right;
}

#classics img {
  position: relative;
  left: 60px;
  top: 310px;
  height: 50%;
  width: 50%;
}
