* {
  background-color: rgb(0, 19, 20);
  color: white;
}

p {
  font-size: 14px;
  font-family: "Lucida Console", Monaco, monospace:
}

h2 {
  font-family: "Arial Black", Gadget, sans-serif;
}

nav {
  
}

.text {
  display: inline-block;
  width: 500px;
  border: 2px, solid, rgb(63, 235, 98);
  padding: 20px;
  position: relative;
}

#about {
  float: right;
}

#classics {
  float: left;
}
